.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0rem;
}

.author {
  font-size: 0.875rem;
  font-weight: 500;
}

.content {
  background-color: rgb(240, 240, 240);
  padding: 15px 10px;
  border-radius: 5px;
}

.bottom_container {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: rgb(120, 120, 120);
}

.delete_btn {
  cursor: pointer;
}
